body {
	margin: 0 auto;
	background: #E3E3E3;
}

span {
	color: red;
}

.nav-bar ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #343030;
	padding: 5px 0px 5px 10px;
	text-decoration: none;
    position: static;
}

.hero {
	height: 220px;
    width: auto;
    margin: 0 auto;
    background-image: url(https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
    background-repeat: no-repeat;
	background-size: cover;
   	display: flex;
	justify-content: center;
	align-items: center;
}

.nerds {
	font-size: 50px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	color: white;
	font-family: 'Alfa Slab One', cursive ,Times;
}

.paragraph {
	padding: 30px 5px 0px 5px;
	text-align: center;
	height: 150px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background: linear-gradient(180deg, #C79E57 -10.78%, #E3E3E3 71.57%), #E3E3E3;
}

.reach-us {
	font-family: 'Alfa Slab One', cursive ,Times;
	font-size: 55px;
	color: #343030;
	text-align: center;
}

form {
	text-align: center;
}

.user-name{
	width: 200px;
	border-radius: 5px;
}

.user-email{
	width: 200px;
	border-radius: 5px;
}

.type-message {
	height: 100px;
	width: 200px;
	border-radius: 8px;
}

/* click effect */
.user-name:click {
	width: 200px;
	border-radius: 5px;
	border-color: #C79E57;
}

.user-email:click{
	width: 200px;
	border-radius: 5px;
	border-color: #C79E57;
}

.type-message:click {
	/* height: 100px;
	width: 200px; */
	border-radius: 8px;
	border-color: #C79E57;
	
	
}


/* desktop version */

@media only screen and (min-width: 601px) {
  
.nav-bar ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #343030;
	padding: 10px 0px 10px 20px;
	text-decoration: none;
    position: static;
}
	
.hero {
  	height: 420px;
    width: auto;
    margin: 0 auto;
    background-image: url(https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
	background-repeat: no-repeat;
	background-position: 20% 1%;
	background-size: cover;
   	display: flex;
	
  }

.nerds {
	font-size: 80px;
	margin: 0 auto;
	color: white;
	font-family: 'Alfa Slab One', cursive ,Times;
}

.paragraph {
	padding: 50px 5px 0px 5px;
	text-align: center;
	height: 150px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	background: linear-gradient(180deg, #C79E57 -10.78%, #E3E3E3 71.57%), #E3E3E3;
}

.reach-us {
	font-family: 'Alfa Slab One', cursive ,Times;
	font-size: 70px;
	color: #343030;
	text-align: center;
}

/* .type-message {
	height: 100px;
	width: 200px;
	border-radius: 15px;
} */



}